<title>Home</title>
<h1>Home</h1>
<% if user_signed_in? %>
<p>Hello <%= current_user.email %></p>
<% else %>
<p>Log in to the site!</p>
<% end %>
<% if user_signed_in? %>
<%= form_tag(destroy_user_session_path, method: :delete) do %>
  <%= submit_tag 'Sign Out' %>
<% end %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>
