<h1>Merchants</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Payout Rate</th>
      <!-- Add more table headers for other attributes -->
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.country.name %></td>
        <td><%= merchant.payout_rate %>%</td>
        <!-- Display other attributes as needed -->
      </tr>
    <% end %>
  </tbody>
</table>

